name: Test

on: [workflow_dispatch]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    env:
      PS4: '+ \[\033[0;34m\]'
    steps:
      - run: |
          set -x
          if [[ -n "$RUNNER_DEBUG" ]]; then
            echo "Debug mode is enabled"
          else
            echo "Debug mode is not enabled"
            echo "$(hostname -f)"
          fi
          gh --version
          git --version

      - uses: actions/checkout@v6

      - name: Bump dev version
        uses: MetRonnie/release-actions/stage-2/bump-dev-version-js@bump-dev-js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
